include:
  - project: "marburg/gitlab-ci-templates"
    file: "/linting-template.yml"
  - project: "marburg/gitlab-ci-templates"
    file: "/build-docker-image-template.yml"
  - project: "marburg/gitlab-ci-templates"
    file: "/gradle-test-template.yml"
  - project: "marburg/gitlab-ci-templates"
    file: "/gradle-integration-test-template.yml"
  - project: "marburg/gitlab-ci-templates"
    file: "/semantic-release-template.yml"
  - project: "marburg/gitlab-ci-templates"
    file: "npm-setup-template.yml"

stages:
  - lint
  - build
  - test
  - release
